body{
    background-color: rgb(255, 237, 245);
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

h2{
    text-align: center;
    font-family: 'Jua'
}

#info{
    display: flex;  
    justify-content: space-between; 
    gap: 60px;
    align-items: center; 
    width: 100%;
    max-width: 800px; 
    margin: auto;
}

h3{
    color: rgb(207, 150, 195);
    font-family: 'Darumadrop One';  
}

#disclaimer{
    color: rgb(207, 150, 195);
    font-family: 'Darumadrop One';
    text-align: center;  
}

#base, #base2 {
    color: purple;
    background-color: rgb(232, 201, 232);
    box-shadow: 4px 4px 10px rgba(128, 108, 127, 0.5);
    /* border-radius: 8%; idk if i like tbh*/
}

#sauce, #sauce2 {
    background-color: #e4bb89;
    color: white;
    box-shadow: 4px 4px 10px rgba(128, 108, 127, 0.5);
}

#top, #top2{
    background-color: rgb(250, 212, 214);
    color: rgb(105, 2, 35);
    box-shadow: 4px 4px 10px rgba(128, 108, 127, 0.5);
}

/* These ARE MOBILE STYLES but its not really working oops */
@media (max-width: 699px){
    .desktop-only{
        display: none;
    }
}

/* These ARE DESKTOP STYLES */

@media (min-width: 700px) {
    #container {
        display: flex;
        gap: 10px
    }
    #base{
        width: 30%;
    }
    #top{
        width: 50%;
    }
    #sauce{
        width: 20%;
    }
}



.icon{
    width: 100px; 
    text-align: center;
}


#logo{
    display: flex;
    gap: 40px;
    text-align: right;
}


#title{
    font-size: 70px;
    color: rgb(154, 73, 137);
    font-family: 'Darumadrop One';
}

#ur_bowl{
    width: 20%;
}

#ur_bowl img{
    width: 100%;
}

ul{
    list-style-type:circle;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.centered{
    text-align: center;
}

#long-list{
    column-count: 3;
    column-gap: 20px;
}

#startOrder{
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Jua';
    color:  rgb(154, 73, 137);
    background-color: rgb(233, 208, 227);
    border-color:rgb(128, 108, 127);
    box-shadow: 4px 4px 10px rgba(128, 108, 127, 0.5);
}

#back{
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Jua';
    color:  rgb(154, 73, 137);
    background-color: rgb(233, 208, 227);
    border-color:rgb(128, 108, 127);
    box-shadow: 4px 4px 10px rgba(128, 108, 127, 0.5);

}


#forReference {
    display: flex;
    flex-direction: column;
    gap: 10px
    }

#base2, #sauce2 {
    width: 40%;
}

#top2{
    width: 50%
}